<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="../static/CSS/bookings.css" rel="stylesheet" th:href="@{../CSS/bookings.css}"/>
    <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            referrerpolicy="no-referrer"
            rel="stylesheet"
    />
    <link rel="icon" th:href="@{../Media/Logo.png}" type="image/x-icon"/>

    <title>Your Bookings</title>
</head>
<body>
<!-- Navigation Bar Starts Here -->
<header class="header">
    <a class="logo" th:href="@{/}">
        <img alt="" src="" th:src="@{../MEDIA/Logo.png}"/>
    </a>

    <nav class="navbar">
        <a th:href="@{/}">home</a>
        <a th:href="@{/#about}">about</a>
        <a th:href="@{/#menu}">services</a>
        <a th:href="@{/#blogs}">blog</a>
        <a th:href="@{/#review}">review</a>
        <a th:href="@{/#contact}">contact</a>
    </nav>

    <div class="icons">
        <a th:href="@{/service}">
            <div class="fas fa-search" id="search-btn"></div>
        </a>
        <a th:href="@{/booking}">
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
        </a>
        <span sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}"
        ><button id="login" type="button">Login</button></a
        >
        <a th:href="@{/signup}"
        ><button id="signup" type="button">Signup</button></a
        >
      </span>

        <span sec:authorize="isAuthenticated()">
                  <a th:href="@{/}"
                  ><button id="profile" th:text="${forName}" type="button">User</button></a
                  >
        <a
        ><button id="logout" onclick="forLogout()" type="button">Logout</button></a
        >
      </span>
    </div>
</header>
<!-- Navigation Bar Ends Here -->
<!-- Carts start here -->
<div id="blank" th:if="${cart.isEmpty() || total == null}">Your cart is Empty
    <span><a th:href="@{/service}">
        <button class="addToCart" type="button">Book a session</button>
    </a></span>
</div>
<section id="cart" th:if="${!cart.isEmpty() && total != null}">
    <table width="80%">
        <thead>
        <tr>
            <td>Remove</td>
            <td>Edit</td>
            <td>Occasion</td>
            <td>Location</td>
            <td>Duration</td>
            <td>No_ of people</td>
            <td>Digital Images</td>
            <td>Printed Images</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info: ${cart}">
            <td><a class="fa-solid fa-xmark" onclick="deleteBooking()"
                   th:href="@{/booking/delete/{id} (id=${info.bookingId})}"
            ></a></td>
            <td><a class="fa-solid fa-pen-to-square" th:href="@{/service/{id} (id=${info.bookingId})}"></a></td>
            <td th:text="${info.occasion}">Spring row 1</td>
            <td th:text="${info.location}">Spring row 1</td>
            <td th:text="${info.duration}">Spring row 1</td>
            <td th:text="${info.people}">Spring row 1</td>
            <td th:text="${info.digital}">Spring row 1</td>
            <td th:text="${info.printed}">Spring row 1</td>
            <td th:text="${#numbers.formatCurrency(info.totalPrice)}">Spring row 1</td>
        </tr>
        <!-- Extend rows for as much as needed for the items added in cart -->
        <tr id="last">
            <td></td>
            <td></td>
            <td colspan="2"><a th:href="@{/service}">
                <button class="addToCart" type="button">Add more</button>
            </a></td>
            <td colspan="2" id="total">Total price</td>
            <td th:text="${#numbers.formatCurrency(total)}">Spring price $</td>
            <td colspan="2">
                <a th:href="@{/billing}">
                    <button id="checkout" type="button">Check Out</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<!-- Cart Ends Here -->
<!-- Footer Starts here -->
<section class="footer">
    <div class="share">
        <a class="fab fa-facebook-f" th:href="@{/booking}"></a>
        <a class="fab fa-twitter" th:href="@{/booking}"></a>
        <a class="fab fa-instagram" th:href="@{/booking}"></a>
        <a class="fab fa-linkedin" th:href="@{/booking}"></a>
        <a class="fab fa-pinterest" th:href="@{/booking}"></a>
    </div>

    <div class="links">
        <a th:href="@{/}">home</a>
        <a th:href="@{/#about}">about</a>
        <a th:href="@{/#menu}">services</a>
        <a th:href="@{/#blogs}">blog</a>
        <a th:href="@{/#review}">review</a>
        <a th:href="@{/#contact}">contact</a>
    </div>

    <div class="credit">
        created by <span> Yoel Tecleab </span> | all rights reserved
    </div>
</section>
<!-- Footer Ends here -->
<script th:src="@{../JS/bookings.js}"></script>
</body>
</html>
